<div id="header">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">
          <img src="/assets/img/precious_dev.png" width="25" style="float: left; margin-right: 10px; margin-top: -2px; opacity: 0.7;" />
          Precious Dev
        </a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Add Plugin</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <div class="container center-text" id="header-hero" (click)="searchTerm = ''">
    <a href="#" (click)="$event.preventDefault();">
      <h1>Webpack.land 💯</h1>
      <h2>A repository of great webpack plugins</h2>
    </a>
  </div>
</div>

<div class="container center blocks">
  <div class="form-group row">
    <div class="inner-addon left-addon">
        <i class="icon ion-ios-search"></i>
        <input type="text" class="form-control" placeholder="Search..." [(ngModel)]="searchTerm" (ngModelChange)="search();">
    </div>
  </div>

  <div class="row" *ngIf="searchTerm && searchTerm.length > 0">
    <a [href]="plugin.url" target="_blank" class="link-row" *ngFor="let plugin of filteredPlugins;">
      <strong>{{plugin.name}}</strong>
      
      <span>{{plugin.description}}</span>
    </a>
  </div>

  <div class="row center-text" *ngIf="searchTerm === undefined || searchTerm.length === 0">
    <a href="#" *ngFor="let category of categories;">
      <div class="block col-md-3 col-sm-6">
        <div class="block-content">
            {{category.title}}
        </div>
      </div>
    </a>
  </div>
</div>

<div id="footer" class="center-text">
  <a href="https://cycle.io" target="_blank">
      Proudly Hosted on <img src="/assets/img/cycle.svg" />
  </a>
</div>